<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yuan">

    <application
        android:allowBackup="false"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- &lt;!&ndash;使用安卓测试包&ndash;&gt; -->
        <!-- <uses-library android:name="android.test.runner"/> -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".person.PersonMain" />
        <activity android:name=".person.GengXinJinDu" />
        <activity android:name=".person.regist" />
        <activity android:name=".person.AddCl" />
        <activity android:name=".person.AddScheme" />
        <activity android:name=".person.AddXiao" />
        <activity android:name=".person.ChangeCl" />
        <activity android:name=".person.ChangeSchem" />
        <activity android:name=".person.ChangeXiao" />
        <activity android:name=".person.EditCl" />
        <activity android:name=".person.EditScheme" />
        <activity android:name=".person.EditXiao" />
        <activity android:name=".person.gaunliyuanMain" />
        <activity android:name=".person.gaunliyuanReg" />
        <activity android:name=".person.guanliyuanLogin" />
        <activity android:name=".person.login" />
        <activity android:name=".person.JiaoLiu" />
        <activity android:name=".person.My_ZhuangXiuList" />
        <activity android:name=".person.Show_ZhuangXiu" />
        <activity android:name=".person.User_JiaoLiu" />
        <activity android:name=".person.LianXi" />
        <activity android:name=".ThreeD.ThreeShow" />
        <activity android:name=".ThreeD.Show0ne" />
        <activity android:name=".ThreeD.ShowTwo" />
        <activity android:name=".ThreeD.ShowThree" />
        <activity android:name=".CL.boardActivity" />
        <activity android:name=".Budge.ShowBudge" />
        <activity android:name=".Budge.XiangBudge" />
        <activity android:name=".CL.brickActivity" />
        <activity android:name=".CL.cl" />
        <activity android:name=".YouHui.HuoDongAc1" />
        <activity android:name=".YouHui.HuoDongAc2" />
        <activity android:name=".CL.Search_Activity" />
        <activity android:name=".CL.lampActivity" />
        <activity android:name=".CL.oilActivity" />
        <activity android:name=".CL.cl_child_Activity" />
        <activity android:name=".XGT.XgtMain" />
        <activity android:name=".person.SheZhi" />
        <activity android:name=".person.ShowHongBao"></activity>
    </application>

</manifest>